<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Algolia</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>github-awesome-autocomplete</string>
	<key>CFBundleIdentifier</key>
	<string>com.algolia.github-awesome-autocomplete</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>html/safari.html</string>
				<key>Height</key>
				<integer>590</integer>
				<key>Identifier</key>
				<string>algoliaPopover</string>
				<key>Width</key>
				<integer>400</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>algoliaPopover</string>
				<key>Image</key>
				<string>images/icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>algoliaButton</string>
				<key>Palette Label</key>
				<string>Algolia</string>
				<key>Popover</key>
				<string>algoliaPopover</string>
				<key>Tool Tip</key>
				<string>Connect Algolia with GitHub</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/libs/jquery-1.9.1.min.js</string>
				<string>js/libs/hogan-3.0.1.js</string>
				<string>js/libs/typeahead.bundle.js</string>
				<string>js/libs/algoliasearch.js</string>
				<string>js/content.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/content.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://github.com/*</string>
			<string>https://github.algolia.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Add instant search capabilities to GitHub's search bar.</string>
	<key>DeveloperIdentifier</key>
	<string>5RDFJYUV23</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://www.algolia.com</string>
</dict>
</plist>
