.aa-popup .aa-popup-content {
  padding: 0 20px 20px 20px;
}
.aa-popup h1 {
  text-align: center;
  font-size: 1em;
  line-height: 4em;
  border-bottom: solid 1px #EEEEEE;
  margin: 0;
}
.aa-popup h2 {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 200;
  color: #888888;
}
.aa-popup p {
  font-size: 1em;
  color: #333333;
}
.aa-popup button {
  width: 100%;
  font-size: 1.2em;
  border-radius: 3px;
  background-color: #3879D9;
  border: solid 1px #2460ba;
  color: white;
  padding: 5px 10px;
}
.aa-popup button img {
  vertical-align: bottom;
}
.aa-popup .aa-algolia-logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.aa-popup .aa-algolia-logo img {
  width: 100%;
}

.awesome-autocomplete .twitter-typeahead {
  width: 360px;
}
.awesome-autocomplete .tt-input {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #D8D8D8;
  outline: none;
}
.awesome-autocomplete .tt-hint {
  color: #999;
}
.awesome-autocomplete .tt-cursor {
  background-color: #FFF9EA;
}
.awesome-autocomplete .tt-dropdown-menu {
  width: 100%;
  padding: 0;
  border: 1px solid #D8D8D8;
  border-top: none;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.awesome-autocomplete .tt-dropdown-menu .aa-query {
  padding: 8px;
  color: #888888;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.awesome-autocomplete .tt-dropdown-menu .aa-query .aa-query-cursor strong, .awesome-autocomplete .tt-dropdown-menu .aa-query .aa-query-default em {
  color: #333333;
}
.awesome-autocomplete .tt-dropdown-menu .aa-branding {
  padding: 10px;
  text-align: right;
  font-size: 0.9em;
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .aa-branding img {
  height: 18px;
  vertical-align: bottom;
}
.awesome-autocomplete .tt-dropdown-menu .aa-category {
  padding: 5px 8px;
  font-weight: bold;
  text-align: left;
  background-color: #F5F5F5;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion {
  padding: 10px 10px;
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion em {
  font-style: normal;
  background-color: #FFF6CD;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion:hover {
  text-decoration: none;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion:hover .aa-name {
  text-decoration: underline;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-infos {
  float: right;
  line-height: 3em;
  color: #888888;
  font-size: 0.9em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-infos i {
  font-size: 14px;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion .aa-name {
  font-size: 1.1em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user {
  height: 35px;
  display: block;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-thumbnail {
  float: left;
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #F5F5F5;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-thumbnail img {
  width: 100%;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-name {
  font-weight: bold;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-login {
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-company {
  color: #333333;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-user .aa-company i {
  font-size: 14px;
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo {
  height: 3em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-name {
  width: 85%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-repo {
  font-weight: bold;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-repo .aa-description {
  width: 85%;
  height: 1.3em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo {
  height: 1.5em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo .aa-name {
  width: 85%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo .aa-name .aa-repo {
  font-weight: bold;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion .aa-suggestion.aa-your-repo i {
  font-size: 14px;
}

/*# sourceMappingURL=content.css.map */
