.awesome-autocomplete .twitter-typeahead {
  width: 360px;
}
.awesome-autocomplete .tt-input {
  padding: 4px 6px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
}
.awesome-autocomplete .tt-hint {
  color: #999;
}
.awesome-autocomplete .tt-cursor {
  background-color: #FFF9EA;
}
.awesome-autocomplete .tt-dropdown-menu {
  width: 100%;
  padding: 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.awesome-autocomplete .tt-dropdown-menu .aa-query {
  padding: 10px;
}
.awesome-autocomplete .tt-dropdown-menu .aa-branding {
  padding: 10px;
  text-align: right;
}
.awesome-autocomplete .tt-dropdown-menu .aa-branding img {
  height: 20px;
  vertical-align: bottom;
}
.awesome-autocomplete .tt-dropdown-menu .aa-category {
  text-align: left;
  padding: 5px 8px;
  font-weight: bold;
  background-color: #F5F5F5;
  font-size: 1.1em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion {
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid #efefef;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion:last-child {
  border: none;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion em {
  font-style: normal;
  background-color: #FFF6CD;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a:hover {
  text-decoration: none;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a:hover .aa-name {
  text-decoration: underline;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a .aa-infos {
  float: right;
  line-height: 3em;
  color: #888888;
  font-size: 0.9em;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a .aa-infos i {
  font-size: 14px;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a .aa-name {
  font-size: 1.1em;
  font-weight: bold;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user {
  height: 35px;
  display: block;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user .aa-thumbnail {
  position: relative;
  top: 3px;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #F5F5F5;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user .aa-thumbnail img {
  width: 100%;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user .aa-login {
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user .aa-company {
  color: #333333;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-user .aa-company i {
  font-size: 14px;
  color: #888888;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-repo {
  height: 35px;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-repo .aa-name {
  width: 85%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.awesome-autocomplete .tt-dropdown-menu .tt-suggestion a.aa-repo .aa-description {
  width: 85%;
  height: 1.3em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888888;
}

/*# sourceMappingURL=content.css.map */
