<div style="width:270px;height:150px;background-color:#333;position:fixed;
  letf:0px;top:0px;font-family:verdana;font-size:16px;margin:10px;padding:10px;
  z-index:1000;border-width:2px;border-style:solid;border-color:#fff;
  box-shadow:5px 5px 15px #888888;color:#bbb;border-radius:10px;
  background-image:url('{{imageUrl}}');background-repeat:no-repeat;
  background-position:bottom right;">

  <p style="width:160px;margin:20px 10px;">
    Content script using jQuery for DOM manipulation.
  </p>

</div>
