$gh-gray: #F5F5F5
$gh-dark: #333333
$gh-border-light: #EEEEEE
$gh-border-dark: #D8D8D8
$gh-text-color: #888888
$gh-highlight-color: #FFFFC6
$gh-primary-color: #3879D9

.aa-popup
  .aa-popup-content
    padding: 20px
  h1
    text-align: center
    font-size: 1em
    line-height: 4em
    border-bottom: solid 1px $gh-border-light
    margin: 0
  h2
    margin-top: 2em
    font-size: 1.2em
    font-weight: 200
    color: $gh-text-color
  p
    font-size: 1em
    color: $gh-dark
  button
    width: 100%
    font-size: 1.2em
    border-radius: 3px
    background-color: $gh-primary-color
    border: solid 1px darken(#3879D9,10%)
    color: white
    padding: 5px 10px
    cursor: pointer
    &:focus
      outline: 0 !important
      box-shadow: none !important
    img
      vertical-align: bottom
    &.loading
      border-color: darken(#E9E9E9, 7%)
      padding-left: 32px
      color: #888
      background: url('../images/loading.gif') no-repeat 70px 5px #E9E9E9
      img
        display: none
  .text-muted
    color: #aaa
    margin-top: 6px
    text-align: center
  .aa-algolia-logo
    width: 100px
    display: block
    margin: 0 auto
    img
      width: 100%


.awesome-autocomplete
  .twitter-typeahead
    width: 360px
  .tt-input
    width: 100%
    padding: 4px 6px
    border: 1px solid $gh-border-dark
    outline: none
  .tt-hint
    color: #999
  .tt-cursor
    background-color: #FFF9EA

  .tt-dropdown-menu
    width: 100%
    padding: 0
    border: 1px solid $gh-border-dark
    border-top: none
    background-color: white
    box-shadow: 0 5px 10px rgba(black, .2)
    .aa-query
      padding: 8px
      color: $gh-text-color
      display: block
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      .aa-query-cursor strong, .aa-query-default em
        color: $gh-dark
    .aa-branding
      padding: 10px
      text-align: right
      font-size: .9em
      color: $gh-text-color
      img
        height: 18px
        vertical-align: bottom
    .aa-category
      padding: 5px 8px
      font-weight: bold
      text-align: left
      background-color: $gh-gray
    .tt-suggestion
      padding: 10px 10px
      text-align: left
      border-bottom: 1px solid $gh-border-light
      em
        font-style: normal
        background-color: $gh-highlight-color
        color: $gh-dark
      .aa-suggestion
        &:hover
          text-decoration: none
          .aa-name
            text-decoration: underline
        .aa-infos
          float: right
          line-height: 3em
          color: $gh-text-color
          font-size: .9em
          i
            font-size: 14px
        .aa-name
          font-size: 1.1em
        &.aa-user
          height: 35px
          .aa-thumbnail
            float: left
            position: relative
            top: 3px
            width: 30px
            height: 30px
            margin-right: 10px
            border-radius: 3px
            overflow: hidden
            background-color: $gh-gray
            img
              width: 100%
          .aa-name
            font-weight: bold
          .aa-login
            color: $gh-text-color
          .aa-company
            color: $gh-dark
            i
              font-size: 14px
              color: $gh-text-color
        &.aa-repo
          height: 3em
          .aa-thumbnail
            float: left
            position: relative
            top: 3px
            width: 30px
            height: 30px
            margin-right: 10px
            border-radius: 3px
            overflow: hidden
            background-color: $gh-gray
            img
              width: 100%
          .aa-name
            display: block
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            font-weight: normal
          .aa-repo-name
            font-weight: bold
          .aa-description
            height: 1.3em
            display: block
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            color: $gh-text-color
        &.aa-your-repo
          height: 1.5em
          .aa-name
            width: 85%
            display: block
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            font-weight: normal
            .aa-repo
              font-weight: bold
          i
            font-size: 14px
