.awesome-autocomplete
  .twitter-typeahead
    width: 360px
  .tt-input
    padding: 4px 6px
    border: 1px solid #ddd
    outline: none
    width: 100%
  .tt-hint
    color: #999
  &.tt-cursor
    background-color: #FFF9EA

  .tt-dropdown-menu
    width: 100%
    padding: 0px
    background-color: #fff
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-top: 0px
    box-shadow: 0 5px 10px rgba(0,0,0,.2)
    .aa-category
      text-align: left
      padding: 8px 5px 8px 10px
      font-weight: bold


  .tt-suggestion
    text-align: left
    padding: 3px 20px
    line-height: 24px
    border-bottom: 1px solid #efefef
    color: #666
    a
      color: #000
      text-decoration: none
    em
      font-weight: bold
      font-style: normal
      background-color: rgba(255,255,140,0.5)
    .aa-infos
      float: right
      font-size: 0.8em
      color: #999

    .aa-user
      img.thumbnail
        width: 30px
        display: inline
        vertical-align: middle
        border: none
        margin: 0px
      .company
        font-style: italic

    .aa-repo
      .aa-link
        color: orange
        font-size: 0.8em
      .aa-description
        font-style: italic
        margin-left: 10px
        font-size: 0.8em

